# Python
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
*.log

# Git
.git
.gitignore

# IDE
.idea/
.vscode/
*.swp
*.swo

# Testing
.coverage
htmlcov/
.pytest_cache/

# Logs
logs/
*.log

# Allow credentials
!config/universalmatching-firebase-credentialv2.json 